.image-block {
  margin: 30px 0;

  & .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

    @include breakpoint(768px) {
      flex-wrap: nowrap;
    }

    @include breakpoint(1024px) {
      gap: 142px;
    }

    & img {
      @include breakpoint(768px) {
        max-width: 350px;
      }

      @include breakpoint(1024px) {
        max-width: 450px;
      }
    }
  }

  &.reverse {
    & .container {
      flex-direction: row-reverse;
    }
  }
}
